
/* -------------------GLOBAL ITEMS -------------------- */
body{
  margin-bottom: 40px;
  background-image: url(https://previews.123rf.com/images/weedezign/weedezign1710/weedezign171000215/88341428-grey-color-mesh-fabric-textile-texture-background-lattice-sport-wear-textured-.jpg)
}
/* ------ Top Nav ---Bootstrap Overrides------- */

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 50px;
  margin-bottom: 0px;
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* border: 2px solid transparent; */
  border-radius: 0;
  z-index: 20;
}
.navbar-header {
  margin-top: .5%;
}

/* -- Footer ---- */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: .5%;
  
}

 /* Company Name & Tagline */
#coName {
  font-family: 'Orbitron', sans-serif;
  font-size: 36px;
  margin-top: 50%;
  margin-left: 25px;
  display: inline;
    
}

#coTagLine {
  display: inline;
  padding-left: 50px;
  margin-top: 50%;
  color: white;
}

a {
  text-decoration: none;
}

/* ------------------- LANDING PAGE ------------------- */
/* ----------- Carousel --------- */
.carousel {
  height: 10%;
}
.item {
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.carousel-inner {
  /* margin-top: 15px; */
  height: 20%;
}




/* ----------- Login Form --------- */

.loginModule {
  float: right;
  border: black 1px solid;
  width: 40%;
  height: 300px;
}

.signinForm {
  margin-top: 5%;
  margin-left: 5%;
  padding-right: 5%;
}

.btn {
  background-color: rgba(103, 190, 103, 0.5);
}



/* ----------- Value Prop --------------- */
.valueProp {
  float: left;
  border: black 1px solid;
  width: 60%;
  height: 300px;
}

#intro {
  padding-top: 10px;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  margin-left: 5%;
}





/* -------- Testimonials -------------------*/
.testimonials {
  display: inline;
}

.testimonialTitle{
  color: Red;
}

/*---testimonial write ups ------*/
.testimonialBlurb {
  max-width: 300px;
  text-align: center;
}

.tName {
  font-weight: 700;
  font-size: 16px;
}

/*------------------Layout-----------------*/


/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.testimony{
  padding: 10px;
  height: 500px;
  text-align: center; 
  border: 1px black solid;
}


/* - Testimonial Module 1 ----*/
.testimonial1 {
  background-color: #aaa;
}

.testimonial1Img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 1px #000000;
  margin-bottom: 30px;
  /* padding-left: 50px; */
}

/* - Testimonial Module 2 ----*/
.testimonial2 {
  background-color: #bbb;
}

.testimonial2Img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 1px #000000;
  margin-bottom: 30px;
  /* padding-left: 50px; */
    
}

/* - Testimonial Module 3 ----*/
.testimonial3 {
  background-color: #aaa;
}

.testimonial3Img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 1px #000000;
  margin-bottom: 30px;
  /* padding-left: 50px; */
}

.testimonialBlurb {
  margin-bottom: 10%;
  align-content: center;
}






/* ------------------- PROFILE PAGE ------------------- */
.event_sm_details{
  font-size: 12px;
}
.event_title{
  font-size: 14px;
}
.column {
  float: left;
  width: 33%;
}

.profile_card{
  height: 500px;
  min-height:800px;
  width: 350px;
  /*text-align: left;*/
  padding: 1%;
  padding-left: 2%;
}

.profile_border{
  border: 2px solid black;
  border-width: thin;
}

.profile_image{
  height: 70%;
  width: 100%;
}
.profile_container{
  background-color: #f8f9fa;
  padding-left: 2%;
}
.profField {
  font-size: 18px;
  font-weight: 400;
  color: rgba(103, 190, 103);
  display: inline;
  text-align: left;
}

.profFieldVal {
  font-size: 16px;
  color:#337ab7;
  display: inline;
  padding-left: 20px;
}

.profPict {
  border: red 2px solid;
    
}

.attending_header{
  text-align: center;
}


/* ------------------- EVENTS ------------------- */
  
.event-header{
  height: 425px;
  width:100%;
  display: flex;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.event-header img{
  min-width: 100%;
  min-height:100%;
  flex-shrink:0;
}

.event_details{
  color:#337AB7
}

.event-info{
  padding: 5px, 10px, 8%, 2%;
  padding-left: 1%;
} 

.event_dt{
  position: absolute;
  bottom: 0;
  left: 0;
}

.event-header:hover{
  transform: translateY(0px);
  position: relative;
  display: flex;
}

.buttons{
  position: absolute;
  display:none;
  right: 50px;
  bottom: 25px;
  transform: translateY(80px);
}

.event-header:hover .buttons{
  transform: translateY(0px);
  display: block;
  transition: .5s;
}


/* ----------- EVENT BROWSE PAGE ------ */
.event_browse{
  text-align: center;
}
#columns {
    padding: 0 2% 40px 2%;
    padding-left: 5%;
}

.event_card {
    height: 100%;
    max-height: 310px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10%;
    padding: 0 0 10px 0;
    border: 1px black solid;
}

.event_image{
  height: 200px;
  width: 100%;
  border-radius: 10% 10% 0 0;
  border: 1px black solid;
}

.event_card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.event_container {
    border: 3px;
    border-color: solid black;
    text-align: center;
    height:100%;
    width:100%;
}

/* ------------------- ABOUT US ------------------- */
/* Three columns side by side */

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(20, 3, 114, 0.2);
  margin-left: 40px;
  padding: 20px;
  background-color: rgba(255,255,255,0.1);
}
  
/* Some left and right padding inside the container */
.container {
  padding: 1px 16px;
}
  
/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display:table;
}
  
.title {
  color: grey;
}

.team {
  height: 220px;
}

.teamPic {
  margin: 20px;
  width: 20% !important;
  height: 90% !important; 
  border-radius: 20%;
  border: solid 2px grey;
  float: right;
}

.aboutBlurb {
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
} 

h2 {
  color: #337AB7;
}

/* --------------------------Form Styling------------------------- */

.full-page-form{
  padding: 20px 40px 60px 40px;
  max-width: 1000px;
  margin: 0 auto;
}


