/* html {
    background-color: chartreuse;
} */
/* ------------------ TOP NAV - BOOTSTRAP OVERRIDES ------------------ */

.navbar {
    position: relative;
    width: 99%;
    min-height: 50px;
    margin-bottom: 1px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 1px;
    margin-left: auto;
    border: 2px solid transparent;
}





/* -------------------GLOBAL ITEMS -------------------- */
#coName {
    display: inline;
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    padding-top: 10px;

}

#coTagLine {
    display: inline;
    padding-left: 50px;
}


/* ------------------- LANDING PAGE ------------------- */

/* .caroImage1 {
    width: 90%;
    height: 50%;
    margin: 0 auto;
}

.caroImage2 {
    width: 90%;
    height: 50%;
    margin: 0 auto;
}

.caroImage3 {
    width: 90%;
    height: 50%;
    margin: 0 auto;
}

.caroImage4 {
    width: 90%;
    height: 50%;
    margin: 0 auto;
}
.sr-only {
    vertical-align: center;
}  */

.caroImage4 {
    width: auto;
    height: 300px;
    margin: 0 auto;
}

.valuePropTitle {
    text-align: center;
}

.valueProp1Img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 2px red;
}

.valueProp1 {
    margin-left: 60px;
}

.valueProp2Img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 2px red;
}

.valueProp2 {
    margin-left: 60px;
}
/* ------------------- PROFILE PAGE ------------------- */









/* ------------------- EVENTS ------------------- */