{% extends 'base.html' %}
{% load static %} 

{% block content %}
<br>
<p class='aboutBlurp'>Three guys, an idea, and many days of coding later, our humble litte idea is ready for the world. Our mission
     is to bring job seekers and employers together, as well as gave everyone a means to connect, learn, and ultimately grow networks.</p>

<div class="row">
    <div class="column">
        <div class="card">
                <img class="teamPic" src= "{% static 'images/JSIOW.jpg' %}" alt="Jules" style="width:100%"/>
        <!-- <div class="contain"> -->
            <h2>Julian Siow</h2>
            <p class="title">Chief Backend Architect</p>
            <p>I literally told my teammates "I am like the Stephen Hawking of the backend". </p>
            <p>Julian@ineedajobinAustria.com</p>
            <!-- <p><button class="button">Contact</button></p> -->
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
                <img class="teamPic" src= "{% static 'images/HLALEFAR.jpg' %}" alt="Hermisimo" style="width:100%"/>
        <!-- <div class="contain"> -->
            <h2>Hermin Lalefar</h2>
            <p class="title">Junior Coder, Product Manager, Visual Designer</p>
            <p>I'm the "old guy on the team". I break stuff, I fix it, I drink too much coffee.</p>
            <p>Hermin@ineedajob@.com</p>
            <!-- <p><button class="button">Contact</button></p> -->
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
        <img class="teamPic" src= "{% static 'images/WMO.jpg' %}" alt="Andisimo" style="width:100%"/>
        <!-- <div class="contain"> -->
            <h2>Andy Mo</h2>
            <p class="title">Fast Coder, Muse</p>
            <p>I'm young, ambitious and motivated to eat. I like sletchy third party arranged blind dates, wet dogs and day old bagels.</p>
            <p>Andy@ineedajobinSF.com</p>
            <!-- <p><button class="button">Contact</button></p> -->
        </div>
        </div>
    </div>
</div>
<!-- HERMIN WAS HERE -->
{% endblock %}

