{% extends 'base.html' %}
{% load static %} 

{% block content %}

<p class='aboutBlurp'>Three humble YOUNG and hungry new developers, on one of life's greatest journies, 
    stumbled on a humble idea...</p>

<div class="row">
    <div class="column">
        <div class="card">
                <img class="teamPic" src= "{% static 'images/JSIOW.jpg' %}" alt="Jules" style="width:100%"/>
        <div class="container">
            <h2>Julian Siow</h2>
            <p class="title">Chief Backend Architect</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
                <img class="teamPic" src= "{% static 'images/HLALEFAR.jpg' %}" alt="Hermisimo" style="width:100%"/>
        <div class="container">
            <h2>Hermin Lalefar</h2>
            <p class="title">Product Manager, Visual Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
        <img class="teamPic" src= "{% static 'images/WMO.jpg' %}" alt="Andisimo" style="width:100%"/>
        <div class="container">
            <h2>Andy Mo</h2>
            <p class="title">Junior Coder, Muse</p>
            <p>Andy describes himself as young, ambitious and motivated. I likes blind dates, wet dogs and day old bagels.</p>
            <p>Andy@ineedajob.com</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
</div>

{% endblock %}

