{% extends 'landing.html' %}

{% block content %}
<div class = "trial">
<section class = "event-header" style ="background-image:url({{event.picture}})">
    <section class = "event-info">
        <h2>
            {{event.title}}
        </h2>
        <h4>
            Created by {{event.creator}}
        </h4>
        <div class="buttons">
                <button action="POST" href="{% url 'event_join' event_pk=event.pk pk=user.pk %}">Attending</button>
        </div>
    </section>
</section>
</div>
<section class = "event-info">
    <h2 class = "description"> Description </h2>
    <h4 class ="event-type"> {{event.field}}</h4>
    <p class ="event-description">
        {{event.description}}
    </p>
</section>

{% endblock %}