{% extends 'landing.html' %}

{% block content %}
<section class = "event-header" style ="background-image:url({{event.picture}})">
    <section class = "event-info">
        <h2>
            {{event.title}}
        </h2>
        <h4>
            Created by {{event.creator}}
        </h4>
        <div class =" event_dt">
        <p>{{event.location}}, {{event.date_time}}
        </p>
        </div>
    {% if user.is_authenticated %}
        <div class="buttons">
            {% if attending %}
                <a href="{% url 'event_join' event_pk=event.pk pk=user.pk %}">
                    <button class="btn">Leave Event</button>
                </a>
            {% else %}
                <a href="{% url 'event_join' event_pk=event.pk pk=user.pk %}">
                    <button class="btn">Join Event</button>
                </a>
            {% endif %}
        </div>
    {% endif %}
    </section>
</section>
<section class = "event-info">
    <h2 class = "description"> Description </h2>
    <h4 class ="event-type"> {{event.field}}</h4>
    <p class ="event-description">
        {{event.description}}
    </p>
    {% if delete_available %}
        <a href="{% url 'event_edit' event_pk=event.pk %}">
            <button>Edit</button>
        </a>
        <a href="{% url 'event_delete' event_pk=event.pk %}">Delete</a>
    {% endif %}
</section>

{% endblock %}