{% extends 'landing.html' %}

{% block content %}
<section class = "event-header" style ="background-image:url({{event.picture}})">
    <section class = "event-info">
        <h2>
            {{event.title}}
        </h2>
        <h4>
            Created by {{event.creator}}
        </h4>
    </section>
</section>

<section class = "event-info">
    <h2 class = "description"> Description </h2>
    <h4 class ="event-type"> {{event.field}}</h4>
    <p class ="event-description">
        {{event.description}}
    </p>
</section>

{% endblock %}