{% extends 'base.html' %}

{% block content %}

<div class="profile_card column">
    <div class = "profile_border">
    <img class ="profile_image"src="{{user.profile.prof_pic}}">
    <div class="profile_container">
        <p class="profField">First Name:</p> <p class="profFieldVal">{{user.first_name}}</p><br>
        <p class="profField">Last Name:</p> <p class="profFieldVal">{{user.last_name}}</p><br>
        <p class="profField">Field:</p> <p class="profFieldVal">{{user.profile.field}}</p><br>
        <p class="profField">Portfolio:</p> <p class="profFieldVal">{{user.profile.portfolio_link}}</p><br>
        <p class="profField">Linkedin:</p> <p class="profFieldVal">{{user.profile.linkedin}}</p><br>
        <button class="profBut" type="click">
        <a href="{% url 'profile_edit' pk=user.pk %}">Edit Profile</a>
        </button>
        <button class="profBut" type="reset">
            <a href="{% url 'event_create' pk=user.pk %}">New Event</a>
        </button>
    </div>
    </div>
</div>

<section>
    <h2 class ="attending_header"> Events You're Attending! </h2>
{% for event in my_events %}
<div class="column" id ="columns">
    <div class="event_card" >
    <a href="{% url 'event_page' event_pk=event.event.pk %}">
    <img class ="event_image"src="{{event.event.picture}}">
        <div class="event_container">
            <h4 class = "event_title"><b>{{event.event.title}}</b></h4>
            <p> <b>Location</b>: {{event.event.location}} <br>
            <b>When</b>: {{event.event.date_time}}</p>
        </div>
    </a>
    </div>
</div>
</section>

{% endfor %}

{% endblock %}