{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="userInfo">


Picture:
<img src ="{{user.profile.prof_pic}}">



<br>
<p class="profField">First Name:</p><p class="profFieldVal">{{user.first_name}}</p><br>
<p class="profField">Last Name:</p><p class="profFieldVal">{{user.last_name}}</p><br>
<p class="profField">User Name:</p><p class="profFieldVal">{{user.username}}</p><br>
<p class="profField">Field:</p><p class="profFieldVal">{{user.profile.field}}</p><br>
<p class="profField">Portfolio:</p><p class="profFieldVal">{{user.profile.portfolio_link}}</p><br>
<p class="profField">LinkedIn:</p><p class="profFieldVal">{{user.profile.linkedin}}</p>
</div>.
<button></button>
<button></button>
<button></button>




{% endblock %}