{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="full-page-form">
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <p class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" maxlength="25" minlength="2" required>
        </p>
        <p class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" maxlength="25" minlength="2" required>
        </p>
        <p class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" maxlength="25" minlength="4" required>
        </p>
        <p class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" maxlength="25" minlength="3" required>
        </p>
        <p class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" maxlength="25" minlength="6" required>
        </p>
        <p class="form-group">
            <label for="password2">Confirm your password</label>
            <input type="password" class="form-control" name="password2" maxlength="25" minlength="6" required>
        </p>
        <p class="form-group">
            <label for="prof_pic">Link to a profile picture</label>
            <input type="text" class="form-control" name="prof_pic">
        </p>
        <p class="form-group">
            <label for="field">What field are you employed in?</label>
            <input type="text" class="form-control" name="field">
        </p>
        <p class="form-group">
            <label for="portfolio_link">Link to your portfolio</label>
            <input type="text" class="form-control" name="portfolio_link">
        </p>
        <p class="form-group">
            <label for="linkedin">Linkedin</label>
            <input type="text" class="form-control" name="linkedin">
        </p>
        <button class="btn" type="submit">Sign Up</button>
    </form>
</section>

{% endblock %}